<div class="row animated fadeIn">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input #input (keyup)="buscarHospital(input.value)" type="text" class="form-control" placeholder="Buscar hospital">

            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="cargando">
    <div class="col-sm-12">
        <div class="text-center">

            <i class="fa fa-refresh fa-spin fa-3x"></i>
            <br><br>
            <strong>Cargando</strong>
            <br>
            <span>Espere por favor</span>
            <br><br>
        </div>
    </div>
</div>

<div class="row animated fadeIn" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <h3 class="card-title col-6">Hospitales registrados ( <small>{{ totalRegistros }}</small> )</h3>
                    <div class="text-right col-6">
                        <button (click)="crearHospital()" class="btn btn-primary waves-effect waves-light btn-rounded">
                          <i class="fa fa-plus"></i>
                          Crear Hospital
                        </button>
                    </div>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="w70">Imagen</th>
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let hospital of hospitales">
                            <td class="w70">
                                <img (click)="mostrarModal( hospital._id )" [src]="hospital.img | imagen:'hospital'" class="img-50 pointer">
                            </td>
                            <td>
                                <input [(ngModel)]="hospital.nombre" name="nombre" class="form-control" type="text">
                            </td>
                            <td class="text-center">
                                <button (click)="actualizarHospital(hospital)" class="btn btn-primary mr-1">
                                <i class="fa fa-save"></i>
                              </button>
                                <button (click)="borrarHospital(hospital)" class="btn btn-danger">
                                <i class="fa fa-trash-o"></i>
                              </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <button (click)="cambiarDesde(-5)" class="btn btn-secondary mr-1" [disabled]="!flagBefNext">Anterior</button>
                    <button (click)="cambiarDesde(5)" class="btn btn-secondary" [disabled]="!flagBefNext">Siguiente</button>
                </div>
            </div>
        </div>
    </div>
</div>