<h3>{{ leyenda }}</h3>

<div class="input-group">
    <button *ngIf="leyenda == 'ProgressBar azul'" (click)="cambiarValor(-5)" class="btn btn-primary" type="button"><i class="mdi mdi-minus"></i></button>
    <button *ngIf="leyenda == 'ProgressBar verde'" (click)="cambiarValor(-5)" class="btn btn-success" type="button"><i class="mdi mdi-minus"></i></button>
    <input #txtProgress type="number" class="form-control mr-1 ml-1" name="progreso" [(ngModel)]="progreso" (ngModelChange)="onChanges($event)" min="0" max="100">
    <button *ngIf="leyenda == 'ProgressBar azul'" (click)="cambiarValor(+5)" class="btn btn-primary" type="button"><i class="mdi mdi-plus"></i></button>
    <button *ngIf="leyenda == 'ProgressBar verde'" (click)="cambiarValor(+5)" class="btn btn-success" type="button"><i class="mdi mdi-plus"></i></button>
</div>